/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

header, main, footer {
	width: 100%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

input, select {
	outline: none;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background: #FFFEF8;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: baseline;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 400;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	list-style-type: none;
	gap: 30px;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

nav li img {
	width: 19px;
	height: 19px;
}

nav li a {
	color: #000000;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
	position: relative;
}

#introduction figure button {
	position: absolute;
    left: 10%;
    margin-top: 13px;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
	position: relative;
}

#introduction article button {
	position: absolute;
	top: -39px;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	position: relative;
}

#portfolio h2 button {
	position: absolute;
	margin-left: 31px;
    bottom: 6px;
}

.filter {
	margin: 51px auto;
}

.btn-list {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.btn {
	color: #1D6154;
	border: 1px solid #1D6154;
	padding: 9px 21px;
	border-radius: 60px;
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	transition: background 400ms;
}

.btn-active, .btn:hover{
	background: #1D6154;
	color: #FFFFFF;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 37px auto 28px;
	border-radius: 60px;
	border: none;
	line-height: 36px;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2em;
	background: #FFFFFF;
}


.login {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.login h2 {
  color: #1d6154;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

.form--login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user--infos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.user--info {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.user--info label {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 14px;
  color: #3d3d3d;
}

.user--info input[type="email"],
.user--info input[type="password"] {
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 379px;
  line-height: 51px;
}

.login-btn {
  font-size: 14px;
  width: 179px;
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 37px auto 28px;
  border-radius: 60px;
  border: none;
  line-height: 36px;
  cursor: pointer;
}

.login form a {
  color: #3d3d3d;
  text-decoration-line: underline;
}
